* {
  font-family: 'Lato', sans-serif;
  font-weight: 600;
  letter-spacing: 0.1em;
}

body {
  height: 100vh;
  width: 100vw;
  color: hsla(150, 6%, 93%, 1);
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  /* background: linear-gradient(-180deg, hsla(203, 92%, 10%, 0.91) 0%, hsla(222, 100%, 2%, 0.95) 100%), url('../img/building-background.jpeg') no-repeat fixed center; */
  /* background: linear-gradient(-180deg, hsla(203, 40%, 15%, 1) 0%, hsla(203, 50%, 8%, 1) 100%); */
  background-size: auto 80%;
  background-color: hsla(191, 21%, 10%, 1)
}

.scanButton {
  display: block;
  position: absolute;
  bottom: 1em;
  cursor: default;
  text-align: center;
  text-transform: uppercase;
  opacity: 0.8;
  left: 3em;
}

.scanButton:hover {
  opacity: 1.0;
}

.scanButton > * {
  display: block;
  margin-left: auto;
  margin-right: auto;
  clear: both;
  font-size: 0.9em;
}

.accountDisplay {
  position: absolute;
  top: 1.5em;
  right: 1.5em;
  cursor: default;
}

.accountDisplay > * {
  display: block;
  text-align: center;
  height: 1.5em;
}

.accountDisplay > .username > * {
  padding-left: 0.4em;
  height: 1.5em;
  width: 1.5em;
  line-height: 1.5em;
  font-size: 0.9em;
  vertical-align: middle;
}

.accountDisplay > .logout {
  font-size: 0.7em;
  color: hsla(0, 70%, 60%, 1);
  transform: translateX(0.75em);
}

.accountDisplay > .logout:hover {
  color: hsla(0, 70%, 70%, 1);
}

.accountDisplay > .logout:active {
  color: hsla(0, 70%, 50%, 1);
}

.loadingBox {
  position: absolute;
  display: inline-block;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loadingBox > * {
  display: block;
  text-align: center;
  text-transform: uppercase;
  margin: 1em;
}

.loadingBox > div {
  opacity: 0.5;
}

.skillBrowser {
  height: 100vh;
  width: 100vw;
  padding: 2em;
  box-sizing: border-box;
  text-align: center;
}

.loginBox {
  position: absolute;
  margin: 0 auto;
  padding: 3em 5em;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: hsla(330, 4%, 91%, 1);
  text-align: center;
  box-sizing: border-box;
  box-shadow: 0 0 74px 20px rgba(0,0,0,0.11);
  color: hsla(218, 25%, 13%, 1);
  font-weight: 500;
  font-size: 0.8em;
  text-transform: uppercase;
}

.loginBox > div {
  font-weight: 400;
  line-height: 1.6em;
}

.loginBox > div:nth-child(2) {
  opacity: 0.4;
}

.loginBox > a {
  display: block;
  position: relative;
  text-decoration: none;
  transition: 200ms background-color;
  margin-top: 1.6em;
  background-color: hsla(219, 16%, 35%, 1);
  background-color: hsla(218, 17%, 28%, 1);
  color: hsla(330, 3%, 85%, 1);
  padding: 1.2em 4.5em;
  border: none;
  text-transform: uppercase;
  outline: none;
}

.loginBox > a:hover {
  background-color: hsla(218, 17%, 38%, 1);
}

.loginBox > a:active {
  background-color: hsla(218, 17%, 18%, 1);
}


.dot {
  width: 4px;
  height: 4px;
  border-radius: 2px;
  position: absolute;
  background-color: white;
}

.skillBrowser > * {
  display: block;
  margin: 0 auto;
  height: calc(100vh - 15em);
}

/* .languageSelector { */
/*   width: 50%; */
/*   float: left; */
/*   display: flex; */
/*   flex-direction: column; */
/*   align-items: flex-end; */
/*   justify-content: center; */
/* } */

.languageSelector .current {
  position: absolute;
  bottom: 1em;
  left: 50%;
  transform: translateX(-50%);
  cursor: default;
}

.languageSelector .previous, .languageSelector .next {
  position: absolute;
  bottom: 50%;
  font-size: 0.7em;
  opacity: 0.25;
  cursor: pointer;
}

.languageSelector .previous:hover, .languageSelector .next:hover {
  opacity: 1;
}

.languageSelector .previous { left: 1em; }
.languageSelector .next { right: 1em; }

.languageDisplay {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.languageDisplay svg {
  position: relative;
  height: 100%;
  width: 100%;
}

.languageDisplay line:not(.selector) {
  stroke: hsla(150, 6%, 93%, 1)
}

.languageDisplay text {
  fill: hsla(150, 6%, 93%, 0.2)
}

.languageDisplay g[data-selected=true] line.ranking {
  stroke: hsla(44, 98%, 60%, 1);
}

.languageDisplay g[data-selected=true] text {
  fill: hsla(44, 98%, 60%, 1);
}

.languageDisplay .tweeter {
  fill: none;
}

.languageDisplay text {
  cursor: default;
  font-weight: 600;
}

.languageDisplay g[data-selected=true] .tweeter {
  fill: hsla(202, 96%, 49%, 1);
  cursor: pointer;
}

.languageDisplay line.selector {
  opacity: 1;
  stroke: transparent;
}

.languageDisplay line.population {
  opacity: 0.12;
}

.moduleDescription {
  position: absolute;
  top: 1em;
  text-align: center;
  display: block;
  width: 60%;
  height: 7.5em;
}

.moduleDescription > span {
  display: block;
}

.languageSelection {
  transition: 300ms opacity;
  opacity: 0.25;
}

.languageSelection[data-selected=true], .languageSelection:hover {
  opacity: 1.0;
}

.rotate-gear-one {
  stroke: none;
  fill: hsla(330, 3%, 85%, 1);
  animation: rotate 9000ms linear infinite; transform-origin: 50% 50%;
}
.rotate-gear-two {
  stroke: none;
  fill: hsla(330, 4%, 70%, 1);
  animation: rotate 6000ms linear infinite; animation-direction: reverse; transform-origin: 50% 50%;
}
.rotate-gear-three {
  stroke: none;
  fill: hsla(330, 3%, 85%, 1);
  animation: rotate 4000ms linear infinite; transform-origin: 50% 50%;
}
.rotate { animation: rotate 800ms linear infinite; transform-origin: 50% 50%; }
@-webkit-keyframes rotate {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
